Source: confluent-camus
Section: misc
Priority: optional
Maintainer: Confluent Packaging <packages@confluent.io>
Build-Depends: debhelper (>= 9), java6-jdk, javahelper (>= 0.40),
 make, maven
Standards-Version: 3.9.3
Homepage: http://confluent.io

Package: confluent-camus
Architecture: all
Description: Camus is a Kafka to HDFS connector.
 It uses MapReduce to load data out of Kafka to HDFS in a distributed way.
